.title {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.gameInfos {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
}

.empresas,
.tags {
    font-size: 18px;
    list-style: none;
    font-weight: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

#myChart {
  width: 100px;
  height: 100px;
}