.title {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.content {
    color: white;
    margin-left: 40px;
}

.popularGames {
    display: grid;
    grid-template-columns: repeat(4, minmax(160px, 1fr));
    gap: 20px
}

.card {
    --after-content: "";
    position: relative;
    width: 200px;
    height: 220px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 5px;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.4s ease, opacity 0.4s ease;
    opacity: 1;
    transform: scale(1);
}

.card:hover {
    transform: scale(1.05);
}

.game-name {
    width: 100%;
    padding: 8px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}