.navbar {
  background-color: #A53860;
  display: flex;
  z-index: 1;
  border-radius: 10px;
}

.logo img{
  height: 70px;
  width: 70px;
  margin-left: 20px;
  margin-top: 10px;
}

.navbar ul {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  list-style: none;
  display: flex;
  gap: 15px;    
}

.navbar a {
  color: rgb(249, 219, 189);
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline overline;
}
